.rowContainer{
    display: flex;
    direction: rtl;
    font-size: 0.8rem;
}
.rowContainer > div{
    padding: 10px;
}

.messageImg{
    align-items: center;
    height: 50px;
    width: 50px
}
.actionDesctiption{
    font-size: 0.5rem;
}
.name{
    float: right;
}
.timeStamp{
    font-size: 0.5rem;
    float: left;
}