html, body {
  /* direction: rtl; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* line-height: 1.6; */
  font-size: 18px;
  height: 100%;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* table props */

.MuiToolbar-regular {
  min-height: 0 !important;
}

.MuiTableCell-root {
  direction: ltr !important;
  line-height: 1 !important;
}

.MuiPaper-elevation2 {
  height: 100%;
}

.Component-horizontalScrollContainer-12 {
  height: 92%;
}

.Component-horizontalScrollContainer-12>div>div {
  height: 100%;
}

.Component-horizontalScrollContainer-12>div {
  height: 100%;
}

.MuiPaper-root .MuiPaper-elevation2 .MuiPaper-rounded {
  height: 92%;
}

/* date picker props */

.MuiInputLabel-formControl {
  right: 0 !important;
  width: 100% !important;
}

.MuiFormControl-marginNormal {
  border: 1px solid black !important;
  border-radius: 10px !important;
  padding: 5px !important;
  width: 45% !important;
}

.MuiInputLabel-shrink{
  transform-origin: center !important;
}


/* progress stepper */
.MuiStepContent-root{
    position: fixed;
    /* transition: none !important; */
     margin-left: 0px !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
    margin-top:0px !important;
    border-left: none !important;
    left: 53px;
    bottom: 10px;
    z-index: 100;
    direction: rtl;
}
.MuiCollapse-container {
  transition: none !important;
}
.progress-bar-container .MuiPaper-root {
  background-color: inherit !important;
}
.MuiCollapse-wrapperInner > div {
  margin-bottom: 0px !important;
}
